#ready-button {
    background-color: #2FA5E7;
    color: #FFFFFF;
    font-size: 24px;
    width: 302px;
    height: 62px;
    border-radius: 50px;
    border-style: none;
}

#ready-button:hover {
    background-color: #309dd9;
}


