#not-ready {
    background-color: #2fa5e7;
    color: #ffffff;
    font-size: 24px;
    width: 302px;
    height: 62px;
    border-radius: 50px;
    border-style: none;
}

#not-ready:hover {
    background-color: #309dd9;
}

#ready-button {
    background-color: #2fa5e7;
    color: #ffffff;
    font-size: 24px;
    width: 302px;
    height: 62px;
    border-radius: 50px;
    border-style: none;
    opacity: 50%;
}
